<div id="site-social-icons">
<a href="https://twitter.com/YOUR_USER_NAME" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
<a href="http://feeds.feedburner.com/YOUR_FEED_URL" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
<a href="http://www.facebook.com/YOUR_FB_IDENTIFIER" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
<a href="http://www.google.com/YOUR_g+_IDENTIFIER" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
</div>